# Data and Caches
data/*
!data/raw/
!data/raw/pro_f1_raw.parquet
cache/
fastf1_cache/
logs/
models/

# Python virtual environment and system files
venv/
.venv/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
.env
